
.chat-btn {
    border: 1.5px solid black;
    outline: none;
    background: #e2130b ;
    position: absolute;
    top: 470px;
    left: 300px;
}
.in-msg {
    margin-top: 10px;
    border-radius: 30px;
    width: 95%;
    height: 30px;
}

.in-msg input{
    border: none;
    width: 80%;
    outline: none;
    border-radius: 30px;
    /* margin-left: 5%; */
}